*{
    margin: 0;
    padding: 0;
}
body{
   background-color: rgba(10,10,10,255);
   background-image: url(../imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
@media (max-width: 575.98px) { 
#botao{
  margin-right: 23%;

}
@media (min-width: 767.98px) { 
  #botao{
    margin-right: 16%;
  }
}

    
}
#btn-newCard{
    color: black;
    background-color:rgb(255, 253, 208);
  margin-left: 91%;
}
#btn-newCard:hover{
    color: rgb(182, 142, 10) ;
}

.navbar-brand{ 
    font-family: Apple Chancery, cursive;
    
}
.navbar{
   background:rgb(255, 253, 208) !important;
    margin: 20px;
    border-radius: 3px;
    
}
.navbar-nav{
    margin-left: 85%;

}
.nav-item{
    margin-right: 20px;

}


.nav-link{
    font-size: 17px;
    color: black !important;
   
}
.nav-link.active,
 .nav-link:hover{
  color:rgb(182, 142, 10) !important; 
 
 }
.card {
    display: grid;
    grid-template-areas: "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats; 
  }
  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text {
    font-size:17px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(247, 190, 4) ;
  }
  .card-statsFilme {
    grid-area: stats; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(209, 8, 8) ;
  }

  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    padding:10px;
  }
  .card-statsFilme .stat {
    flex-direction: column;
    color: black;
    padding:10px;
  }
  .card:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card:hover  #btnCardHeader {
    visibility: visible;
  }
  .card:hover  #btnCardFilme{
    visibility: visible;
  }
  .card {
    transition: 0.5s ease;
    cursor: pointer;
    margin:20px;
   
  }


#anotacoes{
  overflow: hidden; width:170px; border:1px; white-space:nowrap;
}

 #headerDetailsSerie{
  background-color:rgb(247, 190, 4);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px; 
}

#headerDetailsFilme{
  background-color: rgb(209, 8, 8);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px; 
}

#modalDetails{
 border-top-left-radius: 18px;
 border-top-right-radius: 18px;
 border-bottom-left-radius: 18px;
 border-bottom-right-radius: 18px;
 text-align: center;
 font-family: roboto;
 font-size: 20px;
}
#CardEscolha{
  border-top-left-radius: 18px;
 border-top-right-radius: 18px;
 border-bottom-left-radius: 18px;
 border-bottom-right-radius: 18px;
 text-align: center;
 font-family: roboto;
 font-size: 20px;
}
#tituloEscolha{
  background-color:rgb(247, 190, 4);
}
#exampleModalLabel{
  font-family: roboto;
  font-size: 45px;
}
#exampleModalLabelSerie{
  font-family: roboto;
  font-size: 35px;
}
#exampleModalLabelFilme{
  font-family: roboto;
  font-size: 35px;
}

.col-form-label{
  font-style: oblique;
  font-weight: bold
}
#CardModalSerie { overflow-y: auto }
#CardModalFilme { overflow-y: auto }
#EditarSerie { overflow-y: auto }

#anotacoes{
  text-align: center;
}

#closeFilme{
  background-color: rgb(209, 8, 8);
}
#closeFilme:hover{
  background-color: rgb(231, 14, 14);
}

#tituloCard{
  display: inline-block;
}

#btnCardHeader{
  margin-left: 10px;
  margin-right: 10px;
  visibility: hidden;
}
#btnCardHeader:hover{
  transform: scale(1.15); 
}
#btnCardFilme{
  margin-left: 10px;
  margin-right: 10px;
  visibility: hidden;
  }
  #btnCardFilme:hover{
    transform: scale(1.15);
  }
#opcoes{
  border-top-left-radius:15px ;
  border-top-right-radius:15px ;
  background-color:rgb(247, 190, 4);
 
 }

 #opcoes2{
  border-top-left-radius:15px ;
  border-top-right-radius:15px ;
  background-color: rgb(209, 8, 8);
 }

#btnEscolha{
  background-color:black ;
  color: white;
  
}
#btnEscolha:hover{
  background-color:rgb(51, 48, 48);
  color: white;
}
#btnNC{
  background-color: black;
  color: white;
}
#btnNC:hover{
  background-color: rgb(51, 48, 48) ;
  color: white;
}
#fundo{
  background:rgb(255, 253, 208) ;
  color:black ;
  padding: 2%;
  border-radius: 5px;
  font-family: Apple Chancery, cursive;
  
}

#btnDemo{
  background-color: aqua;
}

#CF{
  font-size: 150%;
  text-align: center;
  margin-bottom: 3%;
}
#Center{
  text-align: center;
}
#lado{
  display: inline-block;
}
#Excard{
margin: 5%;
}