<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Save Time</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script src="https://kit.fontawesome.com/2fbff6a782.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/cards">Save Time</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Cards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/about}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/ajuda}">Como funciona ?</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <!--Botão para criar um novo card-->
  <div id="botao">
    <a id="btn-newCard" data-bs-target="#CardEscolha" data-bs-toggle="modal" class="btn" role="button">Novo
      Card</a>
  </div>


  <!--Botões para escolher que tipo de card criar-->
  <div class="modal fade" id="CardEscolha">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h5>Escolha qual você quer salvar:</h5>
          <hr>

          <a href="#CardModalSerie" data-bs-toggle="modal" data-bs-dismiss="modal" role="button"
            class="btn popover-test" title="Criar card de série"
            data-bs-content="Popover body content is set in this attribute." id="btnEscolha">Série</a>
          <a href="#CardModalFilme" data-bs-toggle="modal" data-bs-dismiss="modal" role="button"
            class="btn popover-test " title="Criar card de filme"
            data-bs-content="Popover body content is set in this attribute." id="btnEscolha">Filme</a>
        </div>
      </div>
    </div>
  </div>

  <!--Modal para criar um card de série-->
  <div class="modal fade" id="CardModalSerie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelSerie">Novo Card</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" th:action="@{/series}" th:object="${s}">
            <div class="mb-3">
              <label class="col-form-label">Nome da série:</label>
              <input type="text" class="form-control" id="nome" th:field="*{nome}">
            </div>
            <div class="mb-3">
              <label class="col-form-label">Temporada:</label>
              <input type="number" class="form-control" id="temp" th:field="*{temp}">
            </div>
            <div class="mb-3">
              <label class="col-form-label">Epsódio:</label>
              <input type="number" class="form-control" id="ep" th:field="*{ep}">
            </div>
            <div class="mb-3">
              <label class="col-form-label">Tempo:</label>
              <input type="time" class="form-control" step="1" id="tempo" th:field="*{time}">
            </div>
            <div class="mb-3">
              <label class="col-form-label">Anotações:</label>
              <textarea class="form-control" id="message-text" th:field="*{anotacao}"></textarea>
            </div>

        </div>
        <div class="modal-footer">
          <button id="btnNC" type="button" class="btn" data-bs-dismiss="modal">Close</button>
          <button id="btnNC" type="submit" class="btn">Criar novo Card</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  <!--Modal para criar um card de filme-->
  <div class="modal fade" id="CardModalFilme" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelFilme">Novo Card</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" th:action="@{/filmes}" th:object="${f}">
            <div class="mb-3">
              <label class="col-form-label">Nome do Filme:</label>
              <input type="text" class="form-control" id="nome" th:field="*{nomeFilme}">
            </div>
            <div class="mb-3">
              <label class="col-form-label">Tempo:</label>
              <input type="time" class="form-control" step="1" id="tempo" th:field="*{timeFilme}">
            </div>
            <div class="mb-3">
              <label class="col-form-label">Anotações:</label>
              <textarea class="form-control" id="message-text" th:field="*{anotacaoFilme}"></textarea>
            </div>

        </div>
        <div class="modal-footer">
          <button id="btnNC" type="button" class="btn" data-bs-dismiss="modal">Close</button>
          <button id="btnNC" type="submit" class="btn">Criar novo Card</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  <!--Card de série-->
  <div class="container">
    <div class="row">
      <div class="col-sm-3" th:each="serie : ${serieLista}">
        <div class="card">
          <div>
            <div id="opcoes">

              <a th:attr="data-bs-target='#CardModalPreviewSerie'+${serie.id}" data-bs-toggle="modal"
                data-toggle="tooltip" title="Visualizar" id="btnCardHeader" class="btn" role="button"><i
                  class="far fa-eye"></i></a>
              <a th:attr="data-bs-target='#myModald'+${serie.id}" data-bs-toggle="modal" data-toggle="tooltip"
                title="Excluir" id="btnCardHeader" class="btn" role="button"><i class="far fa-trash-alt "></i></a>


            </div>
            <div class="card-text">

              <h2 id="tituloCard" th:text="${#strings.abbreviate(serie.nome, 10)}"></h2>

              <hr>
              <div><sup>Anotações:</sup></div>
              <p id="anotacoes" th:utext="${#strings.abbreviate(serie.anotacao, 20)}"></p>
            </div>
            <div class="card-stats">
              <div class="stat">
                <div><sup>Temporada</sup></div>
                <div th:text="${serie.temp}+'°'"></div>
              </div>
              <div class="stat border">
                <div><sup>Episódio</sup></div>
                <div th:text="${serie.ep}"></div>

              </div>
              <div class="stat">
                <div><sup>Tempo</sup></div>
                <div th:text="${serie.time}"></div>

              </div>
            </div>
          </div>
        </div>

        <!--Modal para exibir detalhes do card de series-->
        <div class="modal fade text-break" th:id="CardModalPreviewSerie+${serie.id}" tabindex="1"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" id="modalDetails">
              <div class="modal-header" id="headerDetailsSerie">
                <h5 class="modal-title w-100" id="exampleModalLabel" th:text="${serie.nome}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">


                <div class="mb-3">
                  <label class="col-form-label">Episódio:</label>
                  <p type="number" class="text" id="ep" th:text="${serie.ep}"></p>
                  <hr>
                </div>

                <div class="mb-3">
                  <label class="col-form-label">Temporada:</label>
                  <p class="text" id="temp" th:text="${serie.temp}+'°'"></p>
                  <hr>
                </div>

                <div class="mb-3">
                  <label class="col-form-label">Tempo:</label>
                  <p type="time" class="text" step="1" id="tempo" th:text="${serie.time}"></p>
                  <hr>
                </div>
                <div class="mb-3">
                  <label class="col-form-label">Anotações:</label>
                  <p class="text" id="anotacao" th:text="${serie.anotacao}"></p>
                </div>

              </div>
              <div class="modal-footer">
                <a th:attr="data-bs-target='#myModald'+${serie.id}" data-bs-toggle="modal" data-bs-dismiss="modal"
                  role="button" class="btn btn-warning" title="Popover title"
                  data-bs-content="Popover body content is set in this attribute.">Excluir</a>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>

              </div>

            </div>
          </div>
        </div>

        <!--Modal para confirmar a exclusão de um card de série-->
        <div class="modal fade" th:id="myModald+${serie.id}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="excluir">Excluir Item</h4>
              </div>
              <div class="modal-body" id="excluir">Deseja realmente excluir este item ? </div>
              <div class="modal-footer">
                <a type="submit" class="btn" id="btnEscolha" th:href="@{'/deleteSerie/' + ${serie.id}}">Sim</a>
                <button type="button" class="btn" id="btnEscolha" data-bs-dismiss="modal">Não</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--Card de filme-->
      <div class="col-sm-3" th:each="filme : ${filmeLista}">
        <div class="card">
          <div>
            <div id="opcoes2">
              <a th:attr="data-bs-target='#CardModalPreviewFilmes'+${filme.idFilme}" data-bs-toggle="modal"
                data-toggle="tooltip" title="Visualizar" id="btnCardFilme" class="btn" role="button"><i
                  class="far fa-eye"></i></a>
              <a th:attr="data-bs-target='#myModalf'+${filme.idFilme}" data-bs-toggle="modal" data-toggle="tooltip"
                title="Excluir" id="btnCardFilme" class="btn" role="button"><i class="far fa-trash-alt"></i></a>

            </div>
            <div class="card-text">
              <h2 id="tituloCard" th:text="${#strings.abbreviate(filme.nomeFilme, 10)}"></h2>

              <hr>

              <div><sup>Anotações:</sup></div>
              <p id="anotacoes" th:utext="${#strings.abbreviate(filme.anotacaoFilme, 20)}"></p>

            </div>
            <div class="card-statsFilme">
              <div class="stat">
                <div><sup>Tempo</sup></div>
                <div th:text="${filme.timeFilme}"></div>
              </div>
            </div>
          </div>
        </div>

        <!--Modal para exbir detalhes do card de filmes-->
        <div class="modal fade text-break" th:id="CardModalPreviewFilmes+${filme.idFilme}" tabindex="1"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" id="modalDetails">
              <div class="modal-header" id="headerDetailsFilme">
                <h5 class="modal-title w-100" id="exampleModalLabel" th:text="${filme.nomeFilme}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label class="col-form-label">Tempo:</label>
                  <p type="time" class="text" step="1" id="tempo" th:text="${filme.timeFilme}"></p>
                  <hr>
                </div>
                <div class="mb-3">
                  <label class="col-form-label">Anotações:</label>
                  <p class="text" id="anotacao" th:text="${filme.anotacaoFilme}"></p>
                </div>

              </div>
              <div class="modal-footer">
                <a th:attr="data-bs-target='#myModalf'+${filme.idFilme}" data-bs-toggle="modal" data-bs-dismiss="modal"
                  role="button" class="btn" id="closeFilme" title="Popover title"
                  data-bs-content="Popover body content is set in this attribute.">Excluir</a>
                <button id="closeFilme" type="button" class="btn" data-bs-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>

        <!--Modal para confirmar exclusão de um card de filme-->
        <div class="modal fade" th:id="myModalf+${filme.idFilme}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="excluir">Excluir Item</h4>
              </div>
              <div class="modal-body" id="excluir">Deseja realmente excluir este item ? </div>
              <div class="modal-footer">
                <a type="submit" class="btn" id="btnEscolha" th:href="@{'/deleteFilme/' + ${filme.idFilme}}">Sim</a>
                <button type="button" class="btn" id="btnEscolha" data-bs-dismiss="modal">Não</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
</body>

</html>