<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Save Series</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/series">Save Series</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Cards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <div class="modal fade" id="CardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Novo Card</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" th:action="@{/series}" th:object="${s}">
            <div class="mb-3">
              <label class="col-form-label">Nome da série:</label>
              <input type="text" class="form-control" id="nome" th:field="*{nome}">
            </div>
            <div class="mb-3">
              <label class="col-form-label">Temporada</label>
              <input type="number" class="form-control" id="temp" th:field="*{temp}">
            </div>
            <div class="mb-3">
              <label class="col-form-label">Epsódio</label>
              <input type="number" class="form-control" id="ep" th:field="*{ep}">
            </div>
            <div class="mb-3">
              <label class="col-form-label">Tempo:</label>
              <input type="time" class="form-control" step="1" id="tempo" th:field="*{time}">
            </div>
            <div class="mb-3">
              <label class="col-form-label">Anotações:</label>
              <textarea class="form-control" id="message-text" th:field="*{anotacao}"></textarea>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-warning">Criar novo Card</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  

  <div id="botao">
    <a id="btn-newCard" data-bs-target="#CardModal" data-bs-toggle="modal" class="btn btn-warning " role="button">Novo
      Card</a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3" th:each="serie : ${series}">
        <div class="card"> 
          <div class="card-text">
            <h2 id="tituloCard" th:text="${serie.nome}" ></h2>
            
            <hr>
            
            <div><sup>Anotações:</sup></div>
            <p id="anotacoes" th:utext="${#strings.abbreviate(serie.anotacao, 20)}"></p>
              
            <a th:href="@{'/cardDetails/{id}'}" id="btnCard" class="btn btn-warning" role="button"></a>
            <a href="#" id="btnCardd" class="btn btn-warning" role="button"></a>
            <a href="#" id="btnCarddd" class="btn  btn-warning" role="button"></a>
          
          </div>
          <div class="card-stats">
            <div class="stat">
              <div><sup>Temporada</sup></div>
              <div th:text="${serie.temp}"></div>
            </div>
            <div class="stat border">
              <div><sup>Epsódio</sup></div>
              <div th:text="${serie.ep}"></div>

            </div>
            <div class="stat">
              <div><sup>Tempo</sup></div>
              <div th:text="${serie.time}"></div>
              
            </div>
          </div>
        </div>
        <div class="modal fade"  th:id="CardModalPreview+${serie.id}" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Card</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="POST" th:action="@{/series}" th:object="${s}">
                  <div class="mb-3">
                    <label class="col-form-label">Nome da série:</label>
                    <input type="text" class="form-control" id="nome" th:value="${serie.id}">
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label">Temporada</label>
                    <input type="number" class="form-control" id="temp" th:value="${serie.temp}">
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label">Epsódio</label>
                    <input type="number" class="form-control" id="ep" th:value="${serie.ep}">
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label">Tempo:</label>
                    <input type="time" class="form-control" step="1" id="tempo" th:value="${serie.time}">
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label">Anotações:</label>
                    <textarea class="form-control"  id="anotacao"  th:text="${serie.anotacao}"></textarea>
                  </div>
      
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          
              </div>
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
</body>

</html>